
<div class="card-container">
  <!-- Première rangée de trois cartes -->
  <div class="card" (click)="openGenKeyForm()">
    <div class="card-image">
      <img class="responsive-img" src="./assets/images/clechiff.jpg">
    </div>
    <div class="card-action">
      <span class="card-title">GEN KEY</span>
    </div>
  </div>

  <div class="card" (click)="openChiffrementForm()">
    <div class="card-image">
      <img class="responsive-img" src="./assets/images/chiffre.jpg">
    </div>
    <div class="card-action">
      <span class="card-title">CHIFFREMENT</span>
    </div>
  </div>



  <div class="card" (click)="openSignatureForm()">
    <div class="card-image">
      <img class="responsive-img" src="./assets/images/sign.jpg">
      
    </div>
    <div class="card-action">
      <span class="card-title">SIGNATURE</span>
    </div>
  </div>

</div>
<div class="center-container">
  <img src="./assets/images/crypto.gif" alt="Image animée">
</div>