<div class="center-container">
  <img src="./assets/images/crypto1.gif" alt="Image animée">
</div>

<div class="container">
  <div class="row"> <!-- Première rangée de trois cartes -->
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img class="responsive-img" src="./assets/images/key.png">
          
        </div>
        <div class="card-content">
          <p>Générer des clés pour toutes vos opérations cryptographiques!</p>
        </div>
        <div class="card-action">
          <span class="card-title">GEN KEY</span>
        </div>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img class="responsive-img" src="./assets/images/chiffrement.jpg">
          
        </div>
        <div class="card-content">
          <p>Vous trouverez tout ce qu'il vous faut pour assurer la confidentialité de vos messages.</p>
        </div>
        <div class="card-action">
          <span class="card-title">CHIFFREMENT</span>
        </div>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img class="responsive-img" src="./assets/images/dechiffrement.jpg">
          
        </div>
        <div class="card-content">
          <p>Retrouvez le clair de vos messages chiffrés</p>
        </div>
        <div class="card-action">
          <span class="card-title">DECHIFFREMENT</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row"> <!-- Deuxième rangée de trois cartes -->
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img class="responsive-img" src="./assets/images/hachage.jpg">
          
        </div>
        <div class="card-content">
          <p>Hachez vos données pour assurer leur intégrité!</p>
        </div>
        <div class="card-action">
          <span class="card-title">HACHAGE</span>
        </div>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img class="responsive-img" src="./assets/images/sign.jpg">
          
        </div>
        <div class="card-content">
          <p>Et voilà, vous pouvez aussi signer tous vos documents</p>
        </div>
        <div class="card-action">
          <span class="card-title">SIGNATURE</span>
        </div>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img class="responsive-img" src="./assets/images/verifier.jpg">
          
        </div>
        <div class="card-content">
          <p>Et enfin, vérifiez la signature de vos documents!</p>
        </div>
        <div class="card-action">
          <span class="card-title">VÉRIFICATION</span>
        </div>
      </div>
    </div>
  </div>
</div>

